
<section id="content-wrapper">
    <div style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;">
        <img src="~/images/ooop404.jpg" style="width: fit-content;" />
        <p>
            <a asp-action="MyProfile" asp-controller="Home">Click here to navigate to the Home page</a>
        </p>
    </div>
</section>