@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f4fdff;
} */
.position {
  position: relative;
  cursor: pointer;
}
.icon {
  position: relative;
  width: 56px;
}
.notif-badge {
  position: absolute;
  top: -10px;
  right: -4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 23px;
  height: 23px;
  padding: 2px 5px 0 5px;
  border: 2px solid #f4fdff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  z-index: 1;
  transition: transform 0.15s, background-color 0.5s;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s 1;
}

.notif-badge:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s 1;
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.red {
  background: #ff3c35;
}
.blue {
  background: #3366ff;
}
.green {
  background: #47b773;
}
.black {
  background: #000;
}
.position:hover .notif-badge {
  /* background-color: #232323; */
  /* background-color: #535353e4; */
  transform: scale(1.08);
}
.position:active .notif-badge {
  background-color: #555;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.75);
}
@media (max-width: 600px) {
  .position:active .notif-badge {
    transition: none;
  }
  .icon {
    width: 44px;
  }
  .notif-badge {
    position: absolute;
    top: -6px;
    right: 0px;
    min-width: 20px;
    height: 20px;
    padding: 3px 1px 0 0;
    font-size: 10px;
    transition: transform 0.1s, background-color 0.2s;
  }
  .position:hover .notif-badge {
    transform: scale(1);
  }
}

.badgeup {
  position: absolute;
  bottom: 18px;
  border-radius: 22%;
  padding: 6px;
}

.badge-success {
  background-color: #00bcd4;
}
