* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "Roboto";
}

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  background-image: url("https://grim.co.in:3004/blur_background.jpg");
  background-size: cover;
  overflow: hidden;
  position: fixed;
}

.login-box {
  width: 500px;
  max-width: calc(100% - 60px);
  padding: 20px 40px 40px 40px;
  background: #000;
  border-radius: 10px;
}

.login-img ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-img ul li:not(:last-child) {
  margin-right: 20px;
  padding-right: 20px;
  position: relative;
}

.login-img ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 1px;
  height: 30px;
  background: #f5f5f5;
}

.login-img ul li:last-child::before {
  display: none;
}

.login-title {
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}

.login-title h1 {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto";
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.login-title p {
  color: #ffffff;
  margin-bottom: 0;
}

.login-form {
  margin-top: 40px;
}

.form-box {
  position: relative;
  margin-bottom: 20px;
}

.form-box:last-child {
  margin-bottom: 0;
}

.form-box label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border: none;
  outline: none;
  font-family: "Roboto";
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.form-input::placeholder {
  color: #999;
}

.login-btn {
  width: 100%;
  height: 35px;
  background: #4caf50;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #3c9140;
}

.forgot-pass {
  text-align: right;
  margin-top: 10px;
}

.forgot-pass a {
  font-size: 14px;
  line-height: 1.2;
  color: #1976d2;
  text-decoration: none;
  transition: 0.3s;
}

.forgot-pass a:hover {
  text-decoration: underline;
  color: #1976d2;
}

.popup-forgot-pass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 100;
}

.forgot-pass-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  max-width: calc(100% - 40px);
  background: #ffffff;
}

.popup-forgot-title {
  padding: 15px 50px 15px 20px;
  position: relative;
  border-bottom: 1px solid #999;
}

.popup-forgot-title h3 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
}

.popup-forgot-close {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  text-align: center;
  font-weight: 700;
  transition: 0.3s;
}

.popup-forgot-close:hover {
  background: #000000;
  color: #ffffff;
}

.popup-forgot-content {
  padding: 20px;
}

.popup-forgot-content .form-input {
  border: 1px solid #ddd;
  margin-top: 12px;
}

.send-btn {
  width: auto;
  height: 35px;
  background: #1976d2;
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #1660a9;
}

.popup-forgot-content .send-btn {
  margin-top: 15px;
  width: 70px;
  display: block;
  margin-left: auto;
}

.Error-show {
  display: none;
  background-color: red;
  width: fit-content;
  color: white;
  border-radius: 8px;
  padding: 10px;
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}

/* spinner */

.spinnerbody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: none;
}
.spinnerchild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.spinnerchild > span {
  margin: 10px 0 0 10px;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 575px) {
  .login-box {
    padding: 20px 30px 30px 30px;
  }
}

@media screen and (max-width: 400px) {
  .login-box {
    max-width: calc(100% - 40px);
    padding: 20px;
  }
  .login-title h1 {
    font-size: 22px;
  }
}

/*new*/

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}

.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}

.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 600;
  font-size: 18px;
}

.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #f8be12;
}

.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}

#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -250px;
}

#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #eee;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}

#navbar-wrapper .navbar a {
  color: #757575;
}

#navbar-wrapper .navbar a:hover {
  color: #f8be12;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
