body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

:root {
}

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  --aside-width: 250px;
  padding-left: 0;
  /* transition: all 0.5s ease; */
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  --aside-width: 70px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #f3f3f3;
  font-weight: 600;
  font-size: 18px;
}
.toggled .sidebar-nav > li a > span {
  display: block;
  font-size: 13px;
  line-height: 14px;
}
.toggled .sidebar-nav > li > a i.fa {
  margin-left: -3px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #f8be12;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}
.nav-container-fluid {
  display: block !important;
}
#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  /* background-color: #eee; */
  background-color: #1976d2;
  font-size: 24px;
  color: #f3f3f3;
  margin-bottom: 0;
  border-radius: 0;
  transition: all 0.2s ease-out;
  position: fixed;
  width: calc(100% - var(--aside-width));
}
#navbar-wrapper .navbar a {
  /* color: #757575; */
  color: #ececec;
}
#navbar-wrapper .navbar a:hover {
  /* color: #f8be12; */
  color: #ecececc4;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 55px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-inner-icon span {
  padding: 0 10px;
}
.header-inner-icon {
  display: flex;
  align-items: center;
}
#username {
  font-size: initial;
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: var(--aside-width);
    overflow: hidden;
  }

  #wrapper.toggled {
    padding-left: var(--aside-width);
  }

  #sidebar-wrapper {
    width: var(--aside-width);
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 70px;
  }
  #wrapper.toggled #sidebar-wrapper #sidebar-nav {
    width: 70px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 70px;
  }

  #content-wrapper {
    position: relative;
    top: 55px;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }
  #navbar-wrapper .navbar {
    width: 100%;
  }
  .toggled #navbar-wrapper .navbar {
    width: calc(100% - 70px);
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 70px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 70px;
  }

  #content-wrapper {
    position: relative;
    /* top: 0; */
    top: 55px;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

.filter-wrap select {
  border: unset;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  box-shadow: unset;
  border-radius: unset;
}
.filter-wrap select:focus-visible {
  border-color: unset;
  box-shadow: none;
}

.search-container-inner {
  position: relative;
}
.search-container-inner input {
  width: 100%;
  font-size: 16px;
  padding: 6px 8px;
  border: unset;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.search-container-inner input:focus-visible {
  outline: unset;
}
.search-container-inner button {
  position: absolute;
  top: 5px;
  right: 0;
  left: auto;
  outline: unset;
  border: unset;
  box-shadow: unset;
  background-color: transparent;
}
.filter-btn-wrap button {
  outline: unset;
  border: unset;
  box-shadow: unset;
  background-color: transparent;
}
.filter-btn-wrap button i {
  font-size: 24px;
}

/* 12-06-23 */
.sidebar-nav li a {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

/* PRODUCT CARD START */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card {
  background-color: #f5f6fa;
  border-radius: 10px;
  color: #2f3640;
  margin: 2em;
  transition: all linear 0.2s;
}
/* .product-card :hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
} */

.product-card:hover,
.product-card:active {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transform: scale(1);
}

.product-img {
  border-radius: 10px 10px 0 0;
  height: 180px;
  max-width: 100%;
  width: 100%;
}

.product-text {
  padding: 1em;
  /* text-align: center; */
}
.product-text .product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-text .product-title span {
  line-height: 14px;
  text-transform: uppercase;
  padding: 6px 10px 4px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
}
.product-text .product-title span.bg-yellow {
  background-color: #ffa500;
}
.product-text .product-title span.bg-blue {
  background-color: #00f;
}
.product-cart button {
  border-radius: 50%;
  display: flex;
  /* color: #f5f6fa; */
  cursor: pointer;
  font-family: inherit;
  /* padding: 0.1em 1em; */
  text-transform: uppercase;
  transition: all linear 0.3s;
  background-color: transparent;
  /* border: 1px solid #000; */
  background-color: #dddee1;
  border: none;
  /* width: 100%; */
  align-items: center;
}

.product-cart button:hover {
  font-weight: 500;
  /* letter-spacing: 0.1em; */
}
.product-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.product-cart input {
  width: 34px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.product-cart .stockcount {
  width: 36px;
  font-size: 1.1em;
}
.product-cart .count {
  font-weight: bold;
}

/* color */

.product-card h3 {
  color: #0097e6;
  margin-bottom: 25px;
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .product-card-wrap .col-lg-3 {
    width: 33.33%;
  }
}
/* -----------PRODUCT CARD END---------- */

/* .pagination {
  font-size: 12px;
  line-height: 0;
} */

/*------------------------------------------- pagination css start -------------------------------------------*/
.pagination-wrap .pagination .page-item .page-link {
  color: #1976d2;
  border: 2px solid #1976d2 !important;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 0.9rem;
  color: #999;
  font-weight: bold;
  padding: 4px 10px;
}
.pagination-wrap
  .pagination.pagination-circle
  .page-item.active
  .page-link:hover {
  background-color: #1976d2;
}
.pagination-wrap .pagination .page-item .page-link.prev,
.pagination-wrap .pagination .page-item .page-link.next {
  border: 0 !important;
}
.pagination-wrap .pagination .page-item .page-link.prev:hover,
.pagination-wrap .pagination .page-item .page-link.next:hover {
  background-color: initial;
}
.pagination-wrap .pagination .page-item .page-link:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 0.125rem;
  background-color: #1976d2;
  color: #ffffff;
}
.pagination-wrap .pagination.pagination-circle .page-item .page-link:hover {
  border-radius: 50%;
}
nav.pagination-wrap {
  margin: 0 auto;
  padding-top: 35px;
}
.pagination-wrap .pagination.pagination-circle .page-item.active .page-link {
  border-radius: 50%;
  color: #fff;
}
.pagination-wrap .pagination.pg-blue .page-item.active .page-link:hover {
  background-color: #1976d2;
}
.pagination-wrap .pagination .page-item .active .page-link {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 0.125rem;
  background-color: #1976d2;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pagination-wrap .pagination.pagination-circle .page-item .page-link {
  margin: 0 2px;
  font-size: inherit;
  border-radius: 50%;
  cursor: pointer;
}
.pagination-wrap .page-link {
  border: none !important;
}

/*------------------------------------------- pagination css end -------------------------------------------*/
